<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="何苦来哉，不如归去" >
  <meta name="keywords" content="iyidie,伊迭,伊氏物语" >
  <title>Garden - 伊氏物语</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="wrap">
    <div id="header">
      <object type="application/x-shockwave-flash" data="img/header.swf" width="1000" height="114">
      <param name="header" value="img/header.swf" />
      </object>
    </div><!-- end header -->
    <div id="nav"><p><a href="http://i.yidie.org">{何苦来哉Ж不如归去}</a></p></div>
    <div id="garden">
      <div class="garden_text">
        <p>
           你把七年来我写给你的信还我，再也没有比这更轻易的事了<br>
           认识你愈久，愈觉得你是我人生行路中一处清喜的水泽<br>
           你真是一个令人欢喜的人，你的杯不应该为我而空<br>
           你甚美丽，你一向甚我美丽<br>
        </p>
      </div>
      <div class="garden_flash">
        <object type="application/x-shockwave-flash" data="img/garden.swf" width="437" height="403">
        <param name="garden" value="img/garden.swf" />
        </object>
      </div>
    </div><!-- end garden -->
    <div class="pic"></div>
    <div id="footer">
      <p>
        且让我们以一夜的苦茗<br>
        诉说半生的沧桑<br>
        我们都是执著而无悔的一群<br>
        以飘零作归宿<br>
      </p>
    </div>
  </div>
</body>
</html>
