<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="何苦来哉，不如归去" >
  <meta name="keywords" content="iyidie,伊迭,伊氏物语" >
  <title>伊氏物语</title>
  <link rel="stylesheet" href="../medias/css/style.css">
</head>
<body>
  <div id="wrap">
    <div id="header">
      <object type="application/x-shockwave-flash" data="../medias/img/header.swf" width="1000" height="114">
      <param name="header" value="../medias/img/header.swf" />
      </object>
    </div><!-- end header -->
    <div id="nav"><p><a href="http://i.yidie.org">{何苦来哉Ж不如归去}</a></p></div>
    <div id="content">
      <div class="con_flash">
        <object type="application/x-shockwave-flash" data="../medias/img/content.swf" width="903" height="286">
        <param name="header" value="../medias/img/content.swf" />
        </object>
      </div>
      <p>在你年轻而微弱的生命时辰里，我记载这一卷诘屈聱牙的经文，希望有朝一日，你为我讲解。</p>
      <div class="pic"></div>
      <div class="con">
        <p>
           你把七年来我写给你的信还我，再也没有比这更轻易的事了<br>
           认识你愈久，愈觉得你是我人生行路中一处清喜的水泽<br>
           你真是一个令人欢喜的人，你的杯不应该为我而空<br>
           你甚美丽，你一向甚我美丽<br>
        </p>
      </div><!-- end con -->
      <div class="pic"></div>
    </div><!-- end content -->
    <div id="footer">
      <p>
        且让我们以一夜的苦茗 <br>
        诉说半生的沧桑 <br>
        我们都是执著而无悔的一群 <br>
        以飘零作归宿 <br>
      </p>
    </div>
  </div>
</body>
</html>
