<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="何苦来哉，不如归去" >
  <meta name="keywords" content="iyidie,伊迭,伊氏物语" >
  <title>答小小孩 - 伊氏物语</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="wrap">
    <div id="header">
      <object type="application/x-shockwave-flash" data="img/header.swf" width="1000" height="114">
      <param name="header" value="img/header.swf" />
      </object>
    </div><!-- end header -->
    <div id="nav"><p><a href="http://i.yidie.org">{何苦来哉Ж不如归去}</a></p></div>
    <div id="content">
      <div class="answer">
      <h1>答小孩问</h1>
      <p class="answer">
      1→我的大名:伊迭<br>
      2→我的生日:我也不知道<br>
      3→谁传给我的: 小小孩<br>
      4→生日想要什么:没想要什么<br>
      5→近期开心的事情: 很多细微的事都会让我觉得开心<br>
      6→近期压力的事情:考试<br>
      7→未来想做的事:想很多。但未来是个未知数<br>
      8→最迟打算多久结婚:勉强不来的<br>
      9→最后悔的事:想不起来...<br>
      10→有没有知道谁的秘密:知道也忘了<br>
      11→现在最想做的事:睡觉<br>
      12→情人节想做什么:懒的想<br>
      13→难过时想哭的人懦弱吗?:不<br> 
      14→会吃回头草吗?:没想过<br>
      15→有几个兄弟姐妹:三<br>
      16→最喜欢的一首歌:带“最”的问题往往无解<br>
      17→最喜欢的艺人:带“最”的问题往往无解<br>
      18→最喜欢的颜色:黑、白、紫<br>
      19→能感受到身边人的关心么:一点点<br>
      20→会一辈子记得我吗:一定<br>
      21→半夜敢不敢起来上厕所:不知道，半夜从没醒过<br>
      22→对感情有期待么:不确定<br>
      23→现在迷茫什么: 不知道该坚持什么、怎么坚持<br>
      24→有没后悔的事:也许有吧，不记得了<br>
      25→睡像怎么样:优美?我怎麽知道呢...<br>
      26→现在时间:2009年4月26日14:10:56，调用系统时间来着<br>
      27→有没有你觉得厌倦的人:肯定有，但我没想起来<br>
      28→最讨厌什么组合:不知道<br>
      29→觉得自己在心理上成不成熟:不<br>
      30→上网做什么:泡论坛、看订阅、逛博客<br>
      31→现实中中了头奖做什么:领钱去...<br>
      32→毕业后要玩的活动:继续网上飘<br>
      33→引起失眠的原因:不失眠<br>
      34→晚上睡觉流口水吗:不<br>
      35→现在想结婚吗?:不想 <br>
      36→你们认识多久:2007-12-30<br>
      37→你觉得她对你重要吗:重要<br>
      38→你与她的关系:嗯，我也想知道<br>
      39→请问她的偶像:纳兰, 舒马赫, 岩井俊二，她自己写的<br>
      40→你觉得她的性格怎么样:聪慧，敏感，忧郁，稳定性低<br>
      41→朋友在你心中重要不? 重要<br>
      42→觉得她这人怎么样? 淡漠<br>
      43→你记得朋友的生日吗? 个别<br>
      44→你喜欢的季节:没太多感觉<br>
      45→你打工吗?:不<br>
      46→打工次数?:0<br>
      47→你想去的国家:北欧&我想见的人那<br>
      48→你讨厌什么性格的人:人不厌我我又何必讨人厌...<br>
      49→会不会想我 然后给我打电话: 如果可以<br>
      50→你会喝酒吗:不<br>
      51→你会常哭吗:不<br>
      52→你会常笑吗:嗯<br>
      53→你重要的是什么:是爱<br>
      54→是假日你睡到几点:看前天晚上几点睡的...<br>
      55→今天的天气:阴 <br>
      56→你很自恋吗: 别人都说是...<br>
      57→这问卷多不多:多<br>
      58→要怎么样才能让自己好过点:做该做的事，想该想的人，给自己暗示，不去想太多<br>
      59→相信网络中的感情吗:相信<br>
      60→现在幸福吗:不 <br>
      61→相信有一辈子的爱情吗:不<br>
      62→最后想说什么:什么都不说。看不懂此问<br>
      63→睡觉前的第一件事:关机<br>
      64→最伤心,难过的时候你会做什么: 自己呆着<br>
      65→你对我的评价:惹人心疼的小孩<br>
      66→我们会一直是朋友吗? 会，直至无以为续<br>
      67→你认为爱情是什么? 亲情的过渡<br>
      68→世界末日了你最想说的一句话:什么都不说<br>
      69→如果我现在很需要你，你会克服困难来我身边吗?:嗯<br>
      70→会突然给我惊喜吗? 你说呢<br>
      有些地方还空着，会补上的。七十个问题，那就保留七十天好了。 <br>
      七十日后如果还记得，那就把它给删了……<br>
      </p>
      <p class="answer">
      当初说只留七十天，却一直到了现在。想想，就留着吧。
      </p>
      </div>
      <div class="pic"></div>
    </div><!-- end content -->
    <div id="footer">
      <p>
        且让我们以一夜的苦茗 <br>
        诉说半生的沧桑 <br>
        我们都是执著而无悔的一群 <br>
        以飘零作归宿 <br>
      </p>
    </div>
  </div>
</body>
</html>
